click==8.1.7
inexactsearch==1.0.2
joblib==1.3.2
llvmlite==0.41.0
nltk==3.8.1
numba==0.58.0
numpy==1.25.2
pandas==2.1.1
pyphen==0.14.0
python-dateutil==2.8.2
pytz==2023.3.post1
regex==2023.10.3
scikit-learn==1.3.2
scipy==1.11.3
silpa-common==0.3
six==1.16.0
soundex==1.1.3
spellchecker==0.4
threadpoolctl==3.2.0
tqdm==4.66.1
tzdata==2023.3
